.cover{
    background-image: url("Pizza/cover1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
header{
    text-transform: uppercase;
    color:black;
    text-align:center;
}
h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    word-spacing:5px;
    margin-bottom: 20px;
    color:white;
}

.main{   
    margin: 0 auto;
    padding: 10px 0; 
    margin-right: 5%;
    list-style: none;
} 
.main li{
    display: inline-block;
    list-style: none;
    margin-left: 50px;
}
.main li a{
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}
main li a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6); 
    background: transparent;
    cursor: pointer;
    color: rgba(0, 35, 122, 0.7);
    list-style: none;
    border-bottom:3px solid rgb(40, 255, 237);
}
.container-fluid{
    background-image: url("Pizza/45172dff4e8a000f30842245bff85e25.jpg"); 
    background-size: cover;
    height:600px;
    width:100%;
    background-repeat : no-repeat;
    background-position: center;
    
}
footer{
    color: black;
    font-weight: bolder;
}
.main1 {
    background-image: url("Pizza/pizza1.jpeg");
    background-size: cover;
    background-repeat : no-repeat;
    /*background-position: top;*/
}
#work, #work1, #work2, #work3, #work4, #work5, #work6, #work7 ,#work8 {
    cursor: pointer;
  }
.wor, .wor1, .wor2, .wor3, .wor4, .wor5, .wor6, .wor7 ,.wor8{
    color: black;
    font-family: sans-serif;
    font-weight: bolder; 
}

